[Unit]
Description=Seedy Setup and Configuration
Before=dnsmasq.service
[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/local/bin/seedy-setup"
[Install]
WantedBy=multi-user.target
